@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

  *{
    scroll-behavior: smooth;
  }
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

 

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.3rem;
    background-color:#469DC7;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #f1f2f2b4;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .no-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #f1f2f2b4;
  }

  .hor-scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    background-color:#469DC7;
  }
  
  
  .hor-scrollbar::-webkit-scrollbar-thumb:horizontal {
    /* border-radius: 2rem; */
    height: 5px;
    background: #f1f2f2b4;
  }
}

@layer utilities{
  .padding-x {
    @apply sm:px-16 px-6;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-min {
    @apply sm:px-8 px-4;
  }
}